@using WebDoAn.Models
@using WebDoAn.Helpers

@model Product

@section view_title {
    <h4><b>Chi tiết sản phẩm</b></h4>
}

@section css{

    <link href="~/assets/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />

    <style type="text/css">
       .caption-lg-orange {
            font-weight: bold;
            font-size: 12pt;
            color: #fc6e04;
        }

        .caption-lg-red {
            font-weight: bold;
            font-size: 11pt;
            color: #ff0000;
        }

        .padding {
            padding-top: 8px;
        }
        .datecolor {
            color: blue;
        }

        .huy {
            color: white;
            background-color: #ff1a1a;
        }

        .gallery {
            border: 1px solid #ccc;           
            margin: 10px;
            float: left;
            width: 450px;
        }
        .gallery:hover {
            border: 1px solid #777;
            box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
            }
        .gallery2 {
            border: 1px solid #ccc;
            margin: 10px;
            margin-left: 200px;
            width: 450px;
        }
        .gallery2:hover {
            border: 1px solid #777;
            box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
        }

        .hinhthunho {           
            margin: 0px;
            background-color: none;
            height: 360px;
        }
        .marginhinh {
            border: 2px solid black;
            margin: 5px;
        }
        .marginhinh:hover {
            border: 3px solid red;
            box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
        }
        .hinh {
            margin: 0px;
            background-color: none;
            height: 360px;
            padding: 0px;
        }
    </style>

}
@section js {


    <script src="~/assets/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>
    <script type="text/javascript">
        //$('#txtQ').TouchSpin({
        //    min: 1,
        //    max: 1,
        //    verticalbuttons: false
        //});
        $('#txtPri').TouchSpin({
            min: @Model.Price + 0,           
            max: 1000000000000,
            stepinterval: 50,
            maxboostedstep: 10000000,           
            verticalbuttons: false,
            //step: 100000
            //prefix: 'VND'
        });
       
    </script>

}

@if (Model == null)
{
    <text>Sản phẩm không tồn tại!</text>
}
else
{

    <div class="row">
        
        <div class="col-md-2 hinhthunho">
            <a href="#" class="hinhmain"><img class="marginhinh" src="~/Imgs/sp/@Model.ProID/main.jpg" style="width:130px;height:110px;" /></a>
            <a href ="#" class="hinh1"><img class="marginhinh" src="~/Imgs/sp/@Model.ProID/1.jpg" style="width: 130px; height: 110px;" /></a>
            <a href="#" class="hinh2"><img class="marginhinh" src="~/Imgs/sp/@Model.ProID/2.jpg" style="width: 130px; height: 110px;" /></a>
        </div>
        <div class="col-md-9 hinh">
            <div id="hinhnhanmain"><img class="marginhinh" src="~/Imgs/sp/@Model.ProID/1.jpg" style="width: 450px; height: 350px;" /></div>
        </div>
                
        <div class="col-md-12 caption-lg-orange">
            <h3>@Model.ProName</h3>
        </div>
        <div class="col-md-12 padding ">
            <span class="caption-lg-red datecolor">Giá khởi điểm: @string.Format("{0:N0}", Model.Price) VND</span>
        </div>
                <div class="col-md-12 padding ">
            @if (CurrentContext.GetCart().pricemin(Model.ProID) != 0)
            {
                <h4 class="caption-lg-red">Giá thấp nhất hiên tại: @String.Format("{0:N0}", CurrentContext.GetCart().pricemin(Model.ProID) + 100000) VND</h4>
            }
            else
            {
                <h4 class="caption-lg-red">Giá thấp nhất hiên tại bạn có thể ra giá đấu: @String.Format("{0:N0}", Model.Price) VND</h4>
            }
        </div>
        <div class="col-md-12 padding datecolor">
            Thời gian đấu giá đến: @Model.DateTime
        </div>

        <div class="col-md-12 padding">
            @Html.Raw(Model.FullDes)
        </div>
        
    </div>
    <br />
    if (CurrentContext.IsLogged())
    {

        <form class="form-horizontal" id="frmAddItem" method="post" action="@Url.Action("Add", "Cart")">
            <div class="form-group">
                <div class="col-sm-4">
                    <input type="hidden" id="txtP" name="proId" value="@Model.ProID" />
                    <div class="input-group" style="margin-left: 4px;">                       
                        <input id="txtQ" type="hidden" name="quantity" class="form-control" placeholder="Slg" value="1">
                        @*<span class="input-group-btn">*@
                            <button class="btn btn-primary" type="submit">Đấu giá
                                <i class="fa fa-cart-plus"></i>
                            </button>

                            @*<button class="btn btn-primary" data-toggle="modal" data-target="#myModal1">
                                Đấu giá
                                <i class="fa fa-cart-plus"></i>
                            </button>*@                            
                        @*</span>*@

                        @*<div class="modal fade" id="myModal1" role="dialog">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        Xác nhận đấu <b>@Model.ProName</b>
                                        Với giá đấu @(Model.Price + 100000) VND
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Ok</button>
                                        <button type="button" class="btn btn-default huy" data-dismiss="modal">Huỷ</button>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                        
                    </div>
                    <br />
                    <input id="txtPri" type="number" name="proPrice" class="form-control" placeholder="Giá đấu" value="@(Model.Price + 100000)">

                    <!-- Modal -->
                    @*<a href="#"  role="button" data-toggle="modal" data-target="#myModal">                       
                        Hi
                    </a>
                    
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Giá đấu không hợp lệ</h4>
                                </div>
                                <div class="modal-body">
                                    <h5>Đã có ngươi ra giá cao hơn giá của bạn</h5>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>*@


                </div>
            </div>
        </form>
    }

}
